<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hellospinner.packag"
    android:versionCode="1"
    android:versionName="1.0" >
  
    

    <uses-sdk android:minSdkVersion="7" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity android:name=".Gstart" />
        <activity android:name=".NewRoute" />
        <activity android:name=".RoutePath" />
        <activity android:name=".GRoutePath" />
         <activity android:name=".gCredits" />
          <activity android:name=".gNewRoute" />
        <activity android:name=".Credits" />
		<activity android:name=".PrimaryActivity" />
		<activity android:name=".Goptions" />
		<activity android:name=".Options" />
		<activity android:name=".Route" />
		<activity android:name=".Groute" />
		<activity android:name=".LoadRoute" />
		<activity android:name=".GLoadRoute" />
        <activity
            android:name=".Start"
            
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>